
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  body {
    margin: 0;
    text-align: center;
    background-color: #eee;
    color: midnightblue;
    font-size: 20px;
  }
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    min-height: 50px;
    max-height: auto;
  }
  header > * {
    flex: 1 1 auto;
  }
  .nav-item,
  .logo {
    font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: -30px;
  }
  header a {
    /* margin: 10px;
    color: black;
    text-decoration: none;
    white-space: nowrap; */
    font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-right: 13px;
  }
  header a:hover {
    color: darkblue;
    transition: 0.3s;
  }
  a {
    text-decoration: none;
    color: darkmagenta;
  }
  a:hover {
    color: fuchsia;
    transition: 0.3s;
  }
  .container {
    width: 36%;
    margin: auto;
    /* background: #000; */
    /* background-color: aqua; */
  }

  .containers{
    background: url(../css/images/social-media-423857__480.jpg);
  }

  .form-control {
    width: 100%;
    
  }
  label {
    display: block;
    margin: 2px;
  }
  .form-group {
    margin-bottom: 20px;
    background: white;
  }
  .form-groups {
    margin-bottom: 15px;
    background: black;
  }

  .button {
    background-color: darkblue;
    max-width: fit-content;
    color: floralwhite;
    padding: 5px 20px;
    cursor: pointer;
  }
  .button:hover {
    background-color: black;
    transition: 0.3s;
  }

  .buttons {
    background-color: darkblue;
    max-width: fit-content;
    color: floralwhite;
    padding: 5px 20px;
    cursor: pointer;
  }
  .buttons:hover {
    background-color: red;
    transition: 0.3s;
  }

  .div {
    background-color: lightgrey;
    overflow: hidden;
    border: 2px solid black;
    padding: 9px;
    margin: auto;
    padding-left: auto;
    margin-left: auto;
    justify-content: left;
    
    
  }


  /* footer {
    color: black;
    padding: 20px;
  } */
  @media (max-width: 840px) {
    .container {
      width: 100%;
      padding: 1rem;
    }
  }
  
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom: 0;
height: auto;
left:0;
overflow: hidden;
width:60px;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.type{
  background-color: white;
  /* max-width: fit-content; */
  width: 140%;
  /* margin-left: 30px; */
  overflow-wrap: break-word;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 100px;
  /* margin-top: 2%; */
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

.log{
  float: left;
  margin-left: -380px;
  margin-top: -37px;
}