{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<!-- <h3>Blog Post...</h3> -->
<br/>
{% for post in Comments  %}
<div class="div">

		  <h2>{{ post.title }}</h2>
       <small>By: {{ post.author}}</small><br/><br/>

        {{ post.content}}<br/><br/>
          
        <small>{{ post.date_posted}}<br/><br/></small>

        
  </div>
  <hr><br/>
        {% endfor %}
        <br/><br/>
        

{% endblock %}