{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<!-- <h3>Blog Post...</h3> -->
<br/>

        <div class="type">
        <div class="shadow p-3 mb-5 bg-body rounded"></div>

		<h2>{{ talks.title }}</h2>
       <small>By: {{ talks.author}}<br/>
        {{ talks.date_posted}}</small> <br/><br/>

        {{ talk.content}}<br/><br/>
        </div><br/>
        
        
		

{% endblock %}